/* Header styling */
.header {
  position: fixed; /* Fix the header to the top of the viewport */
  top: 0; /* Align at the very top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  height: 80px;
  background-color: #ffffff; /* White background */
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc; /* Optional border */
  z-index: 1000; /* Ensure it stays on top of other elements */
}

/* Logo styling */
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  height: 100px;
}

/* Menu button styling */
.menu-button {
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
}

.menu-button span {
  display: block;
  height: 4px;
  background: #000; /* Black color */
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Menu icon animation */
.menu-button.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-button.active span:nth-child(2) {
  opacity: 0;
}

.menu-button.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Navigation menu styling */
.nav-menu {
  position: absolute;
  top: 80px; /* Place directly below the header */
  right: 0;
  width: 200px;
  background-color: #fff; /* White background */
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
  border: 1px solid #ccc; /* Optional border */
  z-index: 999; /* Below the header */
}

.nav-menu ul {
  list-style: none;
}

.nav-menu li {
  border-bottom: 1px solid #eee;
}

.nav-menu a {
  color: #000; /* Black color */
  text-decoration: none;
  padding: 15px;
  display: block;
}

.nav-menu a:hover {
  background-color: #30D5C8;
}

/* Active menu styling */
.nav-menu.active {
  max-height: 300px; /* Adjust as needed */
}

/* Responsive Design */
@media (max-width: 600px) {
  .nav-menu {
      width: 100%;
  }

  .logo img {
      height: 50px;
  }
}