
/* Hero Section Styles */
.hero {
  display: flex;
  flex-direction: row; /* Ensure default row direction */
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.video-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: flex 0.5s ease;
}

/* Style for Video */
.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* Style for Image */
.video-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2; /* Higher z-index to appear above the accent line */
}

.video-overlay h2 {
  color: #fff;
  font-size: 3em; /* Increased font size */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin: 0;
}

/* Turquoise Accent Line for Hero Section */
/* .video-container::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #40E0D0; /* Turquoise color */
  /*
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  transform: scaleY(0);
  transform-origin: top;
  z-index: 1; /* Ensure the line appears above the image/video */
/*}
*/

.video-container:hover::before {
  transform: scaleY(1);
}

/* Hover Effects */
.hero .video-container {
  flex: 1;
  transition: flex 0.5s ease;
}

.hero .video-container:hover {
  flex: 1.5; /* Expand hovered video */
}

.hero .video-container:not(:hover) {
  flex: 1; /* Shrink non-hovered videos */
}

/* Responsive Design */
@media (max-width: 800px) {
  .hero {
    flex-direction: column;
  }

  .video-container {
    width: 100%;
    height: 33.33vh;
  }
}

/* Decorative Divider */
.divider {
  width: 100%;
  height: 100px;
  background: #000000;
  position: relative;
  margin-top: -1px;
}

.divider::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  background: inherit;
  border-radius: 50%;
}