/* Hero Section Styling */
.hero {
  background: url('../Assets/Images/neonBackground.png') no-repeat center center; /* Neon background */
  background-size: cover; /* Ensure the image covers the entire area */
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px; 
}

/* Use a wrapper to control the width on large screens */
.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; 
  gap: 40px; /* Adds spacing between the image and text */
  flex-wrap: wrap;
}

/* Bird Image Styling */
.hero-image {
  flex: 1 1 50%; /* So it uses up to half the container on large screens */
  text-align: center; /* Center the image on smaller screens */
}

.hero-image img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin-left: 0; 
}

/* Hero Text Styling */
.hero-text {
  flex: 1 1 50%;
  text-align: right;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the content vertically */
  height: 100%; 
}

.hero-text h1 {
  font-family: 'Alef', sans-serif;
  font-size: 52px;
  font-weight: bold;
  color: #ededed;
  margin: 0;
  line-height: 1.2; 
}

.hero-line {
  width: 600px;
  height: 4px; 
  background-color: #30D5C8;
  margin: 20px 0; 
}

.hero-subtitle {
  font-family: 'Alef', sans-serif;
  align-self: center; 
  font-size: 22px;
  color: #dbdbdb;
  margin-bottom: 30px;
}

/* Hero Button Styling */
.hero-button {
  align-self: center;
  margin-top: 20px;
  background-color: #30D5C8; 
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-button:hover {
  background-color: #28b3a6;
  transform: scale(1.05);
}

/* Hero Text Highlight */
.hero-text .highlight {
  color: #30D5C8; 
  font-size: 60px; 
  font-weight: bold;
}

/* Responsive Layout for Smaller Screens */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center; 
  }

  .hero-text {
    text-align: center;
    margin-top: 30px;
    max-width: 100%;
  }

  .hero-text h1 {
    font-size: 42px; 
  }

  .hero-text .highlight {
    font-size: 48px; 
  }
}

/* Decorative Divider */
.divider {
  width: 100%;
  height: 100px;
  background: #000000;
  position: relative;
  margin-top: -1px;
}

.divider::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  background: inherit;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .hero-text {
    text-align: center;
  }

  .hero-button {
    margin: 30px auto 0;
  }
}
